.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  min-height: 80vh;
  margin: 0rem 0 5rem 0;
  background-color: var(--blanco);
  position: relative;
  top: 0;
  padding-top: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--rosa);
  margin: 2rem 0;
  padding: 0 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
  margin: 0;
  min-height: 50vh;
  width: 100%;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  padding: 0 2rem 0 1rem;
  margin: 0;
}

.prodContainerHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 2rem;
  margin: 0;
  margin-bottom: 1rem;
}
.prodContainerHeader .totalProducts {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  margin: 0 0 2rem 0;
}

.prodContainerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 2rem 0;
}

.mobileControllers {
  display: none;
}

@media screen and (max-width: 980px) {
  .mobileControllers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--verde);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .mobileControllers:hover {
    background-color: #3ec591;
  }

  .mobileControllers .mobileFiltersButton {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
  }

  .mobileFiltersButton .filtersIcon {
    margin-right: 0.5rem;
    width: 24px;
    height: 24px;
  }

  .productsContainer {
    padding: 0;
  }

  .prodContainerHeader {
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

@media screen and (max-width: 460px) {
  .prodContainerHeader {
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .prodContainerHeader * {
    margin: 0.25rem 0;
  }
}
