.container{
    /* border: 2px solid red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 5rem;
}


.section h1{
    font-size: 20px;
    font-weight: 700;
    color: var(--lila);
    margin-bottom: 1rem;
}

.section div{
    /* border: 2px solid red; */
    padding-left: 2rem;
}

.section p{
    font-size: 17px;
    margin: 1rem 0;
    font-weight: 500;
}